.about{
    margin-top: 80PX;
}
.about__header{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.about_headerSecond{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}
.about_headerSecond::after{
    content: "";
    width: 170px;
    height: 4px;
    background: #F38281;
    margin: 44px auto 44px;
    display: block;
}

.about__description{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}

.about__pictureBlock{
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 90px;
}
.about_statistic{
    display: flex;
    justify-content: center;
    background-color:  #95E1D3;
    margin-top: 60px;

}
.about_statisticItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 198px;
    height: 166px;
    border: 1px solid white;
    color: white;
    background-color:  #95E1D3;
    font-size: 24px;
}
.about_statisticItemSize{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    font-size: 48px;
    font-weight: 700;

}